<% if logged_in? %>
  <div class="row">
    <aside class="col-md-4">
      <section class="user_info">
        <%= render 'shared/user_info' %>
      </section>
      <section class="micropost_form">
        <%= render 'shared/micropost_form' %>
      </section>
    </aside>
    <div class="col-md-8">
      <h3>Micropost Feed</h3>
      <%= render 'shared/feed' %>
    </div>
  </div>
<% else %>

  <section class="jumbotron text-xs-center">
    
    <!-- <%= image_tag('books.JPG', alt: "Background") %> -->
    <div class="container">
          <h1 class="jumbotron-heading">Read Deliberately</h1>
          <p class="lead text-muted">Something short and leading about the collection below—its contents, the creator, etc. Make it short and sweet, but not too short so folks don't simply skip over it entirely.</p>
          <p>
            <%= link_to "Sign up now!", signup_path, class: "btn btn-lg btn-primary" %>
          </p>
    </div>
  
  </section>

<!-- 
<%= link_to image_tag("rails.png", alt: "Rails logo"), 'http://rubyonrails.org/' %> 
-->

<% end %>